extends layout

block content
    div(class=container) 
        p Welcome to the #{title} page  #{user}
          table
            thead
                th Users
            tbody
                each _ in users
                    tr
                        td='Username: ' +  _.username
                        td=' - Id: ' + _.id
                        
    include footer
    